[tools]
python = '3.14.3'
"aqua:astral-sh/uv" = "0.10.2"
"aqua:evilmartians/lefthook" = "2"

[tasks.default]
run = 'uv run -m ebook_converter_bot'

[tasks.dev]
run = 'uv run jurigged -v -m ebook_converter_bot'
